
.header-line {
    margin-top: 0;
    border: 0;
    height: 5px;
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}
body a {
    text-decoration: none;
    color: black;
}

nav .left button{
background-color: rgb(73, 185, 117);
border: none;
border-radius: 8px;
color: rgb(255, 255, 255);
height: 30px;
}


.breadcrumb-item a {
        color: #868e96;
        text-decoration: none;
    }
    
    .description {
        box-shadow: rgb(216 176 142) 0px -4px;
        padding: 32px 24px;
        border-radius: 2px 2px 4px 4px;
        margin-bottom: 16px;
        border-width: 0px 1px 1px;
        border-color: rgb(205, 204, 204);
        border-style: solid;
        margin-top: 20px;
    }

     .attributes {
        box-shadow: rgb(255 208 7) 0px -4px;
        padding: 32px 24px;
      border-radius: 2px 2px 4px 4px;
      margin-bottom: 16px;
      border-width: 0px 1px 1px;
      border-color: rgb(205, 204, 204);
      border-style: solid;
      margin-top: 20px;
}


.additional-description {
       box-shadow: rgb(192 156 221) 0px -4px;
        padding: 32px 24px;
        border-radius: 2px 2px 4px 4px;
        margin-bottom: 16px;
        border-width: 0px 1px 1px;
        border-color: rgb(205, 204, 204);
        border-style: solid;
        margin-top: 20px;
    }

  .card .category-name {
        background-color: #ddd;
        padding: 5px;
        border-radius: 7px;
    }


    .more-items .card .card-body .price, #items_search .card-product .price {
        background-color: #f9f7f6;
        border-radius: 5px;
        padding-right: 5px;
        padding-left: 5px;
        padding-bottom: 2px;
        font-weight: bold;
        color: rgb(54, 52, 51);
    }
input[type="button"]{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(154, 153, 153);
    border-radius: 4px;
    height: 32px;
    color: rgb(54, 52, 51);
}

.button{
    padding-bottom: 30px;
    display: inline;

}

#notLoginModal {
    cursor: pointer;
    background-color: #7600d9;
    border-color: #7600d9;
}
#notLoginModa {
    cursor: pointer;
    background-color: #7600d9;
    border-color: #7600d9;
}


.footer-line {
    height: 10px;
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}

#log{
    color:white;
       background: #7e57c6;
       cursor: pointer;
   
 }
 


 .aa{
    cursor: pointer;
    text-decoration: none;
    color: black;
  }

 .fav span{
    background-color: #7600d9;
    left: 33px;
 }
 .basket span{
    background-color: #7600d9;
    left: 55px;
 }
*{
    font-family: 'stc';
    /* color: rgb(105, 103, 102); */
}
