* {
    box-sizing: border-box;
    font-family: 'stc';
}
 body a{
    text-decoration: none;
    color: black;
 }
.header-line {
    margin-top: 0;
    border: 0;
    height: 5px;
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}

nav .left button{
background-color: rgb(73, 185, 117);
border: none;
border-radius: 8px;
color: rgb(255, 255, 255);
height: 30px;
}

 .search-block {
    background-color: rgb(65, 130, 195);
    padding-top: 7px;
    padding-bottom: 1px;
}

 .has-search .form-control {
    padding-right: 2.375rem;
    height: 50px;
    border: none;
}

.has-search .form-control-feedback {
    position: absolute;
    display: block;
    right: 172px;
    top: 100px;
    text-align: center;
    color: #aaa;
    margin-top: 7px;
}

.categories .itmes .item p {
    margin-top: 4px;
    white-space: nowrap;
    font-weight: bold;
    font-family: 'stc';
    color: rgb(105, 103, 102);
 } 
 
 .categories .itmes .item img{
    border-radius: 50%;
    background-color:#fff ;
    box-shadow: 0 4px 3px -2px grey;
 }
 
 .categories .itmes{
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
 }


 .categories .itmes .item{
    margin-left: 25px;
    white-space: nowrap;
 }
 

 .categories ::-webkit-scrollbar {
   width: 8px;
   background-color: white;
   height: 10px;
}

.categories ::-webkit-scrollbar-track {
   border-radius: 8px;
 -webkit-gradient:(linear, left bottom, left top, color-stop(0.44, #4182c3), color-stop(0.72, #4182c3), color-stop(0.86, #4182c3));
}

.categories ::-webkit-scrollbar-thumb {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
   background-color: #4182c3;
   border-radius: 8px;
}
 



.right {
    position: relative;
}

.fform {
    display: flex;
}

.tnumber {
    position: absolute;
    left: 0;
    display: flex;
}

.ite {
    display: flex;
    position: relative;
    /* border-color: #fff; */
    background-color: #fff;
}
.ite span {
    background-color: #f9f7f6;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-weight: bold;
    color: rgb(54, 52, 51);

}
 .ii{
    position: absolute;
    left: 15px;
    top: 15px;
 }
 .search-block {
    background-color: rgb(65, 130, 195);
    padding-top: 7px;
    padding-bottom: 1px;
}
.search-block .form-group {
    margin-bottom: 7px !important;
}
.items .item .image {
    width: 203px;
    height: 135px;
    background-color: #f9f7f6;
    border-radius: 8px;
    cursor: pointer;

}

.input-group-text {
    position: absolute;
    display: block;
    width: 40px;
    height:40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: white;
    margin-top: 7px;
    border: none;
}

.has-search .form-control {
    padding-right: 2.375rem;
    height: 50px;
    border: none;
}

.items .item .image img {
    /* object-fit: cover; */
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* margin: 0; */
}

.items .item .content a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(105, 103, 102);
}

.items .item .content .ssala {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}

.items .item .content p {
    color: rgb(105, 103, 102);
}

.items .item .content span {
    background-color: #f9f7f6;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-weight: bold;
    color: rgb(54, 52, 51);
}

.items .item .content i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
}

.box {
    display: flex;
    /* border-bottom: #f9f7f6; */
}

.box .image {
    width: 100%;
    height: 163px;
    background-color: #f9f7f6;
    border-radius: 8px;
}

.box .image img {
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.boxes {
    background-color: #fff;
}

.boxes .c p {
    color: rgb(105, 103, 102);
    font-size: 17px;
}

.boxes .c span {
    color: rgb(54, 52, 51);
    font-weight: bold;
    font-size: 17px;
    line-height: 26px;
}

hr {
    color: #cdc2c2;
}


.notes .tex {
    background-color: #dfdede;

}

.line {
    width: 100%;
    height: 0.5px;
    background-color: #c2c2c2;
    margin: 5px 0;
}

.prod .image {
    width: 85px;
    height: 85px;
    
}

.prod .image img {
    border-radius: 4px;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.prod .det {
    margin-top: 8px;
}

.prod .det p {
    margin: 0;
    color: gray;
}

.oo {
    border-radius: 2px;
    width: 100%;
    margin: auto;
    margin-bottom: 16px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 25%) 0px 1px 0px 0px;
}

.oo img {
    border-radius: 4px;
    /* margin-bottom: 16px; */
    height: 600px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

li a {
    display: flex;
    color: black;
    text-decoration: none;
    border: 1px solid #EEE;
    background-color: #FFF;
    background: white;
    box-shadow: none;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 8px;

}

section img {
    object-fit: cover;
    height: 400px;
}

.footer-line {
    height: 10px;
    background: linear-gradient(to right, rgba(255,208,7) 0%, rgba(255,208,7) 12.5%,rgba(192,156,221,1) 62.5%, rgba(192,156,221,1) 75%);
}

#log{
    color:white;
       background: #7e57c6;
       cursor: pointer;
   
 }

 .fav span{
    background-color: #7600d9;
    left: 40px;
 }
 .basket span{
    background-color: #7600d9;
    left: 65px;
 }